@{
    ViewData["Title"] = "Accused_Information";
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col-md-8 p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>દરેક પો.સ્ટે.વાઇઝ નાસતા-ફરતા આરોપીઓની માહીતી દર્શાવતુ આંકડાકીય પત્રક</h5>
            </div>
            <div class="col-md-4 p-0">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add નાસતા-ફરતા આરોપીઓની માહીતી
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_AccusedInformation" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">નાસતા-ફરતા આરોપીઓની માહીતી </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_Accused_Information">
                            <input type="text" id="accusedInformationId" name="accusedInformationId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">પોલીસ સ્ટેશન</label>
                                    <select id="policeStationId" name="policeStationId" class="form-select" required>
                                        <option value="" selected disabled>--Select PoliceStation Name--</option>
                                    </select>
                                </div>
                            }
                            <div class="col-md-6">
                                <label for="totalCaches" class="form-label">ના.ફ.આરોપીઓ હોય તેવા કુલ કેશોની સંખ્યા</label>
                                <input type="text" class="form-control" id="totalCaches" value="0" name="totalCaches" placeholder="0" />
                            </div>
                            <div class="col-md-6">
                                <label for="availableCaches" class="form-label">આવા કેટલા કેશોની કે.ડા. અને કાગળો ઉપલબ્ધ છે ?</label>
                                <input type="text" class="form-control" id="availableCaches" value="0" name="availableCaches" placeholder="0" />
                            </div>
                            <div class="col-md-6">
                                <label for="notAvailableCachesReasonRemarks" class="form-label">કે.ડા./કેસો ઉપલબ્ધ ન હોય તો તેના કારણો</label>
                                <input type="text" class="form-control" id="notAvailableCachesReasonRemarks"  name="notAvailableCachesReasonRemarks" placeholder="કે.ડા./કેસો ઉપલબ્ધ ન હોય તો તેના કારણો" />
                            </div>
                            <div class="col-md-4">
                                <label for="totalAccused" class="form-label">કુલ ના.ફ. આરોપીઓની સંખ્યા</label>
                                <input type="text" class="form-control" id="totalAccused" value="0" name="totalAccused" placeholder="0" />
                            </div>

                            <div class="col-md-4">
                                <label for="arrestedAccused" class="form-label">આજરોજ ના.ફ.પકડાયેલ આરોપીઓની સંખ્યા</label>
                                <input type="text" class="form-control" id="arrestedAccused" name="arrestedAccused" value="0" placeholder="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="remainingArrestedAccused" class="form-label">પકડવાના બાકી રહેલ ના.ફ. આરોપીઓની સંખ્યા</label>
                                <input type="text" class="form-control" id="remainingArrestedAccused" value="0" name="remainingArrestedAccused" placeholder="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="crpcsection299UnderProcedure" class="form-label">સી. આર. પી. સી. કલમ ૨૯૯ હેઠળ કરેલ કાર્યવાહી</label>
                                <input type="text" class="form-control" id="crpcsection299UnderProcedure" value="0" name="crpcsection299UnderProcedure" placeholder="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="crpcsection7UnderProcedure" class="form-label">સી. આર. પી. સી. કલમ ૭0 હેઠળ કરેલ કાર્યવાહી</label>
                                <input type="text" class="form-control" id="crpcsection7UnderProcedure" value="0" name="crpcsection7UnderProcedure" placeholder="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="crpcsection8UnderProcedure" class="form-label">સી. આર. પી. સી. કલમ ૮૨ હેઠળ કરેલ કાર્યવાહી</label>
                                <input type="text" class="form-control" id="crpcsection8UnderProcedure" value="0" name="crpcsection8UnderProcedure" placeholder="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="crpcsection83UnderProcedure" class="form-label">સી. આર. પી. સી. કલમ ૮3 હેઠળ કરેલ કાર્યવાહી</label>
                                <input type="text" class="form-control" id="crpcsection83UnderProcedure" value="0" name="crpcsection83UnderProcedure" placeholder="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="ipc174UnderProcedure" class="form-label">આઇ.પી.સી ૧૭૪ (ક) હેઠળ કરેલ કાર્યવાહી</label>
                                <input type="text" class="form-control" id="ipc174UnderProcedure" value="0" name="ipc174UnderProcedure" placeholder="0" />
                            </div>

                            <div class="col-md-4">
                                <label for="createdDate" class="form-label">તારીખ </label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">+ ADD નાસતા-ફરતા આરોપીઓની માહીતી</button>
                            </div>
                        </form>

                        <!-- End Multi Columns Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
@section Scripts{
    <script src="~/js/AhmedabadCityDR_JS/Accused_Information.js" type="text/javascript"></script>
}