@{
    ViewData["Title"] = "Atakayati_Details";
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>અટકાયતી પગલાની વિગત-પત્રક નંબર–૫</h5>
            </div>
            <div class="col p-0">
                <button type="button" class="btn btn-primary float-end" id="addData" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + ADD અટકાયતી પગલાની વિગત
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" disabled selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="submit" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_AtakayatiDetails" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>

    </div>
</div>


<div class="modal modal-xl" id="basicModal" tabindex="2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">અટકાયતી પગલાની વિગત</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_AtakayatiDetails">
                            <input type="text" id="atakayatiPagalaSummaryId" name="atakayatiPagalaSummaryId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-4">
                                    <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                    <select id="policeStationId" name="policeStationId" class="form-select" required>
                                        <option value="" selected disabled>--Select PoliceStation Name--</option>
                                    </select>
                                </div>
                            }
                            <div class="col-md-4">
                                <label for="subCategoryId" class="form-label">અટકાયતી પગલાના પ્રકાર </label>
                                <select id="subCategoryId" name="subCategoryId" asp-value="" class="form-select" asp-items="ViewBag.SubCategory" required>
                                    <option selected disabled value="">--Select SubCategory--</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="createdDate" class="form-label">તારીખ </label>
                                <input type="date" id="createdDate" name="createdDate" class="form-control date-today" aria-label="..." required>
                            </div>
                            <div class="col-md-6">
                                <label for="today" class="form-label">આજના</label>
                                <input type="text" class="form-control" id="today" name="today" placeholder="આ ડેટા પત્રક ૬ માંથી આવશે" disabled="disabled" required />
                            </div>
                            <div class="col-md-6">
                                <label for="last" class="form-label">ગઇકાલના</label>
                                <input type="text" class="form-control" id="last" name="last" placeholder="આ ડેટા પત્રક ૬ માંથી આવશે" disabled="disabled" required />
                            </div>
                            <div class="col-md-6">
                                <label for="currentYear" class="form-label">ચાલુ સાલના આજદીન સુધીના</label>
                                <input type="text" class="form-control" id="currentYear" name="currentYear" placeholder="ચાલુ સાલના આજદીન સુધીના" required />
                            </div>
                            <div class="col-md-6">
                                <label for="lastYear" class="form-label">ગઇ સાલના આજદીન સુધીના</label>
                                <input type="text" class="form-control" id="lastYear" name="lastYear" placeholder="ગઇ સાલના આજદીન સુધીના" required />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">+ ADD  અટકાયતી પગલાની વિગત</button>
                            </div>

                        </form>

                        <!-- End Multi Columns Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Basic Modal-->
@section Scripts{
    <script src="~/js/AhmedabadCityDR_JS/Atakayati_Details.js" type="text/javascript"></script>
}
