@{
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
    ViewData["Title"] = "AutoRikshaw_Details";
}
<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>ઑટોરિક્ષાની માહિતી</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add ઑટોરિક્ષાની માહિતી
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" name="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_AutoRickshawDetail" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<!-- Basic Modal -->
<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ઑટોરિક્ષાની માહિતી </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2" >
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_AutoRickshawDetail">
                            <input type="text" id="autoRickshawId" name="autoRickshawId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                        <select id="policeStationId" name="policeStationId" class="form-select" required>
                                            <option value="" selected disabled>--Select PoliceStation Name--</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-md-4">
                                <label for="autoRickshawNo" class="form-label">ઓટો રિક્ષા નંબર</label>
                                <input type="text" class="form-control" id="autoRickshawNo" name="autoRickshawNo" placeholder="ઓટો રિક્ષા નંબર" />
                            </div>
                            <div class="col-md-4">
                                <label for="driverName" class="form-label">ડ્રાયવરનુ નામ સરનામુ</label>
                                <input type="text" class="form-control" id="driverName" name="driverName" placeholder="ડ્રાયવરનુ નામ સરનામુ" />
                            </div>
                            <div class="col-md-4">
                                <label for="ownerName" class="form-label">માલિક્નુ નામ સરનામુ</label>
                                <input type="text" class="form-control" id="ownerName" name="ownerName" placeholder="માલિક્નુ નામ સરનામુ" />
                            </div>
                            <div class="col-md-4">
                                <label for="licenseNumber" class="form-label">લાયસન્સ નંબર</label>
                                <input type="text" class="form-control" id="licenseNumber" name="licenseNumber" placeholder="લાયસન્સ નંબર" />
                            </div>
                            <div class="col-md-4">
                                <label for="permitNumber" class="form-label">પરમીટ નંબર</label>
                                <input type="text" class="form-control" id="permitNumber" name="permitNumber" placeholder="પરમીટ નંબર" />
                            </div>
                            <div class="col-md-4">
                                <label for="driversBaseNo" class="form-label">ચાલકનો બેઝ નંબર</label>
                                <input type="text" class="form-control" id="driversBaseNo" name="driversBaseNo" placeholder="ચાલકનો બેઝ નંબર" />
                            </div>
                            <div class="col-md-4">
                                <label for="rcbook" class="form-label">આર સી બુક છે કે કેમ</label>
                                <input type="text" class="form-control" id="rcbook" name="rcbook" placeholder="આર સી બુક છે કે કેમ" />
                            </div>
                            <div class="col-md-4">
                                <label for="rcbookDetail" class="form-label">આર સી બુક મુજ્બ એ.નં ચે નં છે કે કેમ</label>
                                <input type="text" class="form-control" id="rcbookDetail" name="rcbookDetail" placeholder="આર સી બુક મુજ્બ એ.નં ચે નં છે કે કેમ" />
                            </div>
                            <div class="col-md-4">
                                <label for="insurancePolicy" class="form-label">વીમા પોલીસી છે કે કેમ</label>
                                <input type="text" class="form-control" id="insurancePolicy" name="insurancePolicy" placeholder="વીમા પોલીસી છે કે કેમ" />
                            </div>
                            <div class="col-md-4">
                                <label for="checkingOperation" class="form-label">ચેકીઁગ દરમ્યાન કામગીરી</label>
                                <input type="text" class="form-control" id="checkingOperation" name="checkingOperation" placeholder="ચેકીઁગ દરમ્યાન કામગીરી" />
                            </div>
                            <div class="col-md-4">
                                <label for="createdDate" class="form-label">તારીખ</label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" aria-label="...">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="submitbtn" class="btn btn-primary">+ ADD ઑટોરિક્ષાની માહિતી</button>
                            </div>
                        </form>
                        <!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Basic Modal-->
@section Scripts {
    <script src="~/js/AhmedabadCityDR_JS/AutoRickshawDetail.js" type="text/javascript"></script>
}