@{
	var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
	ViewData["Title"] = "Bin_Varsi_Lash";
}

<div class="card">
	<div class="card-body">
		<div class="row card-title">
			<div class="col p-0 align-items-center" style="display: flex;align-items: center;">
				<h5>બીનવારસી લાશની વિગત</h5>
			</div>
			<div class="col p-0">
				<button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
					+ Add બીનવારસી લાશની વિગત
				</button>
			</div>
		</div>
		<form class="row pb-4" method="post">
			<div class="col-md-2 mb-1">
				<input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
			</div>
			<div class="col-md-2 mb-1">
				<input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
			</div>
			<div class="col-md-4 mb-1">
				<select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
					<option value="" selected disabled>--Select PoliceStation Name--</option>
				</select>
			</div>
			<div class="col-md-2 mb-1">
				<input type="button" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
			</div>
			<div class="col-md-2 mb-1">
				<input type="button" class="form-control btn btn-outline-success" value="Report View" />
			</div>
		</form>
		<table id="data_Bin_Varsi_Lash" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
		</table>
	</div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content pb-0">
			<div class="modal-header">
				<h5 class="modal-title">બીનવારસી લાશની વિગત </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="card mb-0">
					<div class="card-body p-1 m-2">
						<form class="row g-4" id="form_Bin_Varsi_Lash">
							<input type="hidden" id="crimesId" name="crimesId" value="0" />
							@if (policeStationId == 0)
							{
								<div class="col-md-4">
									<div class="dropdown">
										<label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
										<select id="policeStationId" name="policeStationId" class="form-select" required>
											<option value="" selected disabled>--Select PoliceStation Name--</option>
										</select>
									</div>
								</div>
							}
							<div class="col-md-4">
								<label for="policeStationNumber" class="form-label">પો.સ્ટે ગુ.ર.નં</label>
								<input type="text" class="form-control" id="policeStationNumber" name="policeStationNumber" placeholder="પો.સ્ટે ગુ.ર.નં" required />
							</div>
							<div class="col-md-4">
								<label for="ipcact" class="form-label">કલમ નંબર</label>
								<input type="text" class="form-control" id="ipcact" name="ipcact" placeholder="કલમ નંબર" required />
							</div>
							<div class="col-md-4">
								<label for="complainer" class="form-label">ખબર આપનાર</label>
								<input type="text" class="form-control" id="complainer" name="complainer" placeholder="ખબર આપનાર" required />
							</div>
							<div class="col-md-4">
								<label for="gubatata" class="form-label">બનાવ બ.તા.ટા.</label>
								<input type="text" class="form-control" id="gubatata" name="gubatata" placeholder="બનાવ બ.તા.ટા." required />
							</div>
							<div class="col-md-4">
								<label for="gujatata" class="form-label">બનાવ જા.તા.ટા</label>
								<input type="text" class="form-control" id="gujatata" name="gujatata" placeholder="બનાવ જા.તા.ટા" required />
							</div>
							<div class="col-md-4">
								<label for="gudatata" class="form-label">બનાવ દા.તા.ટા</label>
								<input type="text" class="form-control" id="gudatata" name="gudatata" placeholder="બનાવ દા.તા.ટા" required />
							</div>
							<div class="col-md-4">
								<label for="crimePlace" class="form-label">મરણ ની જગ્યા</label>
								<input type="text" class="form-control" id="crimePlace" name="crimePlace" placeholder="મરણ ની જગ્યા " />
							</div>
							<div class="col-md-4">
								<label for="personNameWhoFiledCrime" class="form-label">ગુન્હો દાખલ કરનારનુ નામ હોદ્દો</label>
								<input type="text" class="form-control" id="personNameWhoFiledCrime" name="personNameWhoFiledCrime" placeholder="ગુન્હો દાખલ કરનારનુ નામ હોદ્દો" />
							</div>
							<div class="col-md-4">
								<label for="investigationOfficer" class="form-label">તપાસ કરનારનુ નામ હોદ્દો</label>
								<input type="text" class="form-control" id="investigationOfficer" name="investigationOfficer" placeholder="તપાસ કરનારનુ નામ હોદ્દો" />
							</div>
							<div class="col-md-4">
								<label for="shortDetail" class="form-label">ગુનાની ટુંક વિગત</label>
								<input type="text" class="form-control" id="shortDetail" name="shortDetail" placeholder="ગુનાની ટુંક વિગત" />
							</div>
							<div class="col-md-4">
								<label for="hdiitsEntry" class="form-label">Hdiits અંતર્ગત એન્ટ્રી કરેલ છે.કે કેમ?</label>
								<input type="text" class="form-control" id="hdiitsEntry" name="hdiitsEntry" placeholder="Hdiits અંતર્ગત એન્ટ્રી કરેલ છે.કે કેમ?" />
							</div>
							<div class="col-md-4">
								<label for="createdDate" class="form-label">તારીખ </label>
								<input type="date" name="createdDate" id="createdDate" class="form-control date-today" aria-label="..." >
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" id="submitbtn">+ADD બીનવારસી લાશની વિગત</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/AhmedabadCityDR_JS/Bin_Varsi_Lash.js" type="text/javascript"></script>
}