@{
    ViewData["Title"] = "CrimeBranch_Visit";
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
}


<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col-md-8 p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>ઘરફોડ ચોરીની ફરિયાદ દાખલ થાય ત્‍યારે ક્રાઇમ બ્રાન્ચ ની વીઝીટ અંગેની દૈનિક નોંઘ</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add ક્રાઇમ બ્રાન્ચ ની વીઝીટ
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_CrimeBranch_Visit" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>


<div class="modal modal-lg" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> ક્રાઇમ બ્રાન્ચ ની વીઝીટ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_CrimeBranch_Visit">
                            <input type="text" id="c" name="visitationId" value="0" style="display:none" class="d-none" placeholder="" />
                            <div class="col-md-6">
                                @if (policeStationId == 0)
                                {
                                    <label for="inputState" class="form-label">પોલીસ સ્ટેશન</label>
                                    <select id="policeStationId" name="policeStationId" class="form-select" required>
                                        <option value="" selected disabled>--Select PoliceStation Name--</option>
                                    </select>
                                }
                            </div>
                            <div class="col-md-6">
                                <label for="gubatataCrimePlace" class="form-label">ગુ.બ.તા.ટા તથા ગુનાની જગ્‍યા</label>
                                <input type="text" class="form-control" id="gubatataCrimePlace" name="gubatataCrimePlace" placeholder="ગુ.બ.તા.ટા તથા ગુનાની જગ્‍યા" />
                            </div>
                            <div class="col-md-6">
                                <label for="crimeVisitPlace" class="form-label">ગુનાનુ વીઝીટનુ સ્‍થળ</label>
                                <input type="text" class="form-control" id="crimeVisitPlace" name="crimeVisitPlace" placeholder="ગુનાનુ વીઝીટનુ સ્‍થળ" />
                            </div>
                            <div class="col-md-6">
                                <label for="visitDate" class="form-label">વીઝીટ કર્યાની તા.ટા</label>
                                <input type="date" name="visitDate" id="visitDate" class="form-control max-date-today" aria-label="...">
                            </div>
                            <div class="col-md-6">
                                <label for="visiterOfficerName" class="form-label">વીઝીટ કરનાર અઘિકારી</label>
                                <input type="text" class="form-control" id="visiterOfficerName" name="visiterOfficerName" placeholder="વીઝીટ કરનાર અઘિકારી" />
                            </div>
                            <div class="col-md-6">
                                <label for="createdDate" class="form-label">તારીખ </label>
                                <input type="date" id="createdDate" name="createdDate" class="form-control date-today" aria-label="..." required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">+ ADD ક્રાઇમ બ્રાન્ચ ની વીઝીટ</button>
                            </div>

                        </form>

                        <!-- End Multi Columns Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
@section Scripts{
    <script src="~/js/AhmedabadCityDR_JS/Visitation_CrimeBranch.js" type="text/javascript"></script>
}
