@{
    ViewData["Title"] = "CurrentYear_Agewise_Missing";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> ચાલુ વર્ષના આજદીન સુધીના ખોવાયેલ / મળી આવેલ બાળકોની માહિતી દર્શાવતું પત્રક</h5>
                    <table id="" class="display nowrap" style="width:100%;overflow-x: scroll;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
