@{
    ViewData["Title"] = "E_FIR_Details";
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>E-FIR Details</h5>
            </div>
            <div class="col p-0">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + ADD E-FIR
                </button>
            </div>
        </div>
        <form class="row pb-4" method="post">
            <div class="col-md-2 mb-1">
                <input type="date" name="fromDate" id="fromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="toDate" id="toDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                <select id="policeStationId" name="policeStationId" asp-items="ViewBag.PoliceStation" class="form-select" required>
                    <option value="" selected disabled>--Select PoliceStation Name--</option>
                </select>
            </div>
            <div class="col-md-2 mb-1">
                <input type="submit" class="form-control btn btn-outline-secondary" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </form>
        <table id="" class="display nowrap" style="width:100%;overflow-x: scroll;">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">E-FIR </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2" >
                        <!-- Multi Columns Form -->
                        <form class="row g-4 ">

                            <div class="col-md-6">
                                <label for="inputState" class="form-label">પોલીસ સ્ટેશન</label>
                                <select id="inputState" class="form-select" style="background-color:gainsboro">
                                    <option selected>---Select PoliceStation---</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજ રોજ મળેલી E-FIR</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજ રોજ મળેલી E-FIR" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">અત્યાર સુધીની E-FIR</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="અત્યાર સુધીની E-FIR" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">E-FIR અંતર્ગત આજરોજ દાખલ થયેલ ગુન્હા</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="E-FIR અંતર્ગત આજરોજ દાખલ થયેલ ગુન્હા" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજરોજ ડિલિટ થયેલ E-FIR</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજરોજ ડિલિટ થયેલ E-FIR" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજરોજ ફાઈલે કરેલ E-FIR</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજરોજ ફાઈલે કરેલ E-FIR" />
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">+ ADD E-FIR</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>

                        <!-- End Multi Columns Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
