@{
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
    ViewData["Title"] = "E_Gujkop";
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col-md-8 p-0 align-items-center" style="display: flex;align-items: center;">
                <h5> ઈ-ગુજકોપ હેઠળ થયેલ છેલ્લી એન્ટ્રી નંબર ની વિગત દર્શાવતું પત્રક</h5>
            </div>
            <div class="col-md-4 p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add ઈ-ગુજકોપ હેઠળ થયેલ છેલ્લી એન્ટ્રી
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" name="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_E_Gujkop" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ઈ-ગુજકોપ હેઠળ થયેલ છેલ્લી એન્ટ્રી</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2" >
                        <!-- Multi Columns Form -->
                        <form class="row g-3" id="form_E_Gujkop">
                            <input type="text" id="eGujakopId" name="eGujakopId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                        <select id="policeStationId" name="policeStationId" class="form-select" required>
                                            <option value="" selected disabled>--Select PoliceStation Name--</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-md-4">
                                <label for="part1to5number" class="form-label">ભાગ ૧ થી ૫ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="part1to5number" name="part1to5number" placeholder="ભાગ ૧ થી ૫ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="part1to5EGujakop" class="form-label">ભાગ ૧ થી ૫ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="part1to5EGujakop" name="part1to5EGujakop" placeholder="ભાગ ૧ થી ૫ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="part6number" class="form-label">ભાગ ૬ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="part6number" name="part6number" placeholder="ભાગ ૬ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="part6EGujakop" class="form-label">ભાગ ૬ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="part6EGujakop" name="part6EGujakop" placeholder="ભાગ ૬ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="prohiNumber" class="form-label">પ્રોહી છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="prohiNumber" name="prohiNumber" placeholder="પ્રોહી છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="prohiEGujakop" class="form-label">પ્રોહી ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="prohiEGujakop" name="prohiEGujakop" placeholder="પ્રોહી ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="aAmNumber" class="form-label">એમ.કેસ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="aAmNumber" name="aAmNumber" placeholder="એમ.કેસ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="aAmEGujakop" class="form-label">એમ.કેસ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="aAmEGujakop" name="aAmEGujakop" placeholder="એમ.કેસ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="acciendentNumber" class="form-label">અકસ્માત મોત છેલ્લો અ.મોત .નં.</label>
                                <input type="text" class="form-control" id="acciendentNumber" name="acciendentNumber" placeholder="અકસ્માત મોત છેલ્લો અ.મોત .નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="acciendentEGujakop" class="form-label">અકસ્માત મોત ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો અ.મોત નં.</label>
                                <input type="text" class="form-control" id="acciendentEGujakop" name="acciendentEGujakop" placeholder="અકસ્માત મોત ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો અ.મોત નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="janvajogNumber" class="form-label">જાણવા જોગ છેલ્લો જા.જોગ એ.નં.</label>
                                <input type="text" class="form-control" id="janvajogNumber" name="janvajogNumber" placeholder="જાણવા જોગ છેલ્લો જા.જોગ એ.નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="janvajogEGujakop" class="form-label">જાણવા જોગ ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લી જા.જોગ એ..નં.</label>
                                <input type="text" class="form-control" id="janvajogEGujakop" name="janvajogEGujakop" placeholder="જાણવા જોગ ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લી જા.જોગ એ..નં." />
                            </div>
                            <div class="col-md-4">
                                <label for="createdDate" class="form-label">તારીખ</label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" aria-label="...">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="submitbtn" class="btn btn-primary">+ ADD ઈ-ગુજકોપ હેઠળ થયેલ છેલ્લી એન્ટ્રી</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                        <!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Basic Modal-->
@section Scripts {
    <script src="~/js/AhmedabadCityDR_JS/E_Gujkop.js" type="text/javascript"></script>
}