@{
    ViewData["Title"] = "E_Gujkop";
}
<style>
    table {
        table-layout: fixed;
        overflow-x: scroll;
    }

    td, th {
        word-wrap: break-word;
    }

</style>
<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col-md-8 p-0 align-items-center" style="display: flex;align-items: center;">
                <h5> ઈ-ગુજકોપ હેઠળ થયેલ છેલ્લી એન્ટ્રી નંબર ની વિગત દર્શાવતું પત્રક</h5>
            </div>
            <div class="col-md-4 p-0">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add ઈ-ગુજકોપ હેઠળ થયેલ છેલ્લી એન્ટ્રી
                </button>
            </div>
        </div>
        <form class="row pb-4" method="post">
            <div class="col-md-2 mb-1">
                <input type="date" name="fromDate" id="fromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="toDate" id="toDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                <select id="policeStationId" name="policeStationId" asp-items="ViewBag.PoliceStation" class="form-select" required>
                    <option value="" selected disabled>--Select PoliceStation Name--</option>
                </select>
            </div>
            <div class="col-md-2 mb-1">
                <input type="submit" class="form-control btn btn-outline-secondary" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </form>
        <table id="" class="display nowrap" style="width:100%;overflow-x: scroll;">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ઈ-ગુજકોપ હેઠળ થયેલ છેલ્લી એન્ટ્રી</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2" >
                        <!-- Multi Columns Form -->
                        <form class="row g-4 ">

                            <div class="col-md-6">
                                <label for="inputState" class="form-label">પોલીસ સ્ટેશન</label>
                                <select id="inputState" class="form-select" >
                                    <option selected>---Select PoliceStation---</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">ભાગ ૧ થી ૫ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="ભાગ ૧ થી ૫ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">ભાગ ૧ થી ૫ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="ભાગ ૧ થી ૫ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">ભાગ ૬ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="ભાગ ૬ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">ભાગ ૬ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="ભાગ ૬ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">પ્રોહી છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="પ્રોહી છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">પ્રોહી ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="પ્રોહી ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">એમ.કેસ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="એમ.કેસ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">એમ.કેસ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="એમ.કેસ ઈગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો ગુ.ર.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">અકસ્માત મોત છેલ્લો અ.મોત .નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="અકસ્માત મોત છેલ્લો અ.મોત .નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">અકસ્માત મોત ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો અ.મોત નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="અકસ્માત મોત ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લો અ.મોત નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">જાણવા જોગ છેલ્લો જા.જોગ એ.નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="જાણવા જોગ છેલ્લો જા.જોગ એ.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">જાણવા જોગ ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લી જા.જોગ એ..નં.</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="જાણવા જોગ ઈ ગુજકોપ હેઠળ એન્ટ્રી કરેલ છેલ્લી જા.જોગ એ..નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">તારીખ</label>
                                <input type="date" name="arrival_date" id="arrival_date" class="form-control" aria-label="...">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">+ ADD ઈ-ગુજકોપ હેઠળ થયેલ છેલ્લી એન્ટ્રી</button>
                            </div>
                        </form>

                        <!-- End Multi Columns Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
