@{
    ViewData["Title"] = "Employee_Details";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> અધિકારી/કર્મચારી માહિતી</h5>
                    <table id="" class="display nowrap" style="width:100%;overflow-x: scroll;">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" style="font-weight:900">
    <div class="row">
        <div class="col-lg-6">
            <!-- Basic Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="margin-left:20px">
                + ADD અધિકારી/કર્મચારી
            </button>
        </div>
    </div>
</section>