@{
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
    ViewData["Title"] = "Labor_Information";
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>બી- રોલ ભરેલાની વિગત દર્શાવતું પત્રક</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add બી- રોલ ભરેલાની વિગત દર્શાવતું પત્રક
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" name="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_Labor_Information" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">બી- રોલ ભરેલાની વિગત દર્શાવતું પત્રક </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2" >
                        <!-- Multi Columns Form -->
                        <form class="row g-4" id="form_Labor_Information">
                            <input type="text" id="laborInformationId" name="laborInformationId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                        <select id="policeStationId" name="policeStationId" class="form-select" required>
                                            <option value="" selected disabled>--Select PoliceStation Name--</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-md-6">
                                <label for="subCategoryId" class="form-label">બી-રોલ પ્રકાર</label>
                                <select id="subCategoryId" name="subCategoryId" class="form-select" asp-items="ViewBag.SubCategory">
                                    <option selected disabled>---Select SubCategory---</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="checkedLabor" class="form-label">કેટલા મજુરો ચેક કર્યા</label>
                                <input type="text" class="form-control" id="checkedLabor" name="checkedLabor" placeholder="કેટલા મજુરો ચેક કર્યા" />
                            </div>
                            <div class="col-md-4">
                                <label for="checkedPlace" class="form-label">ચેક કરેલ જગ્‍યાની સંખ્‍યા</label>
                                <input type="text" class="form-control" id="checkedPlace" name="checkedPlace" placeholder="ચેક કરેલ જગ્‍યાની સંખ્‍યા" />
                            </div>
                            <div class="col-md-4">
                                <label for="totalLaborersVideography" class="form-label">કેટલા મજુરોની વી.ગ્રાફી, ફો.ગ્રાફી કરી</label>
                                <input type="text" class="form-control" id="totalLaborersVideography" name="totalLaborersVideography" placeholder="કેટલા મજુરોની વી.ગ્રાફી, ફો.ગ્રાફી કરી" />
                            </div>
                            <div class="col-md-6">
                                <label for="workersArollBrollNumber" class="form-label">મજુરોના એ-રોલ બી-રોલ ભર્યાની સંખ્‍યા</label>
                                <input type="text" class="form-control" id="workersArollBrollNumber" name="workersArollBrollNumber" placeholder="મજુરોના એ-રોલ બી-રોલ ભર્યાની સંખ્‍યા" />
                            </div>
                            <div class="col-md-6">
                                <label for="createdDate" class="form-label">તારીખ</label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" aria-label="...">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="submitbtn" class="btn btn-primary">+ ADD નાસતા-ફરતા આરોપીઓની માહીતી</button>
                            </div>
                        </form>
                        <!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Basic Modal-->
@section Scripts {
    <script src="~/js/AhmedabadCityDR_JS/Labor_Information.js" type="text/javascript"></script>
}