@{
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
    ViewData["Title"] = "Missing_Chaild_Details ";
}
<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5> ગુમ થયેલ બાળકોની માહિતી</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + ADD ગુમ થયેલ બાળકો
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" name="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_MissingChild" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> ગુમ થયેલ બાળકો</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2" >
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_MissingChild">
                            <input type="text" id="missingChildId" name="missingChildId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                        <select id="policeStationId" name="policeStationId" class="form-select" required>
                                            <option value="" selected disabled>--Select PoliceStation Name--</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-md-6">
                                <label for="missingPersonName" class="form-label">ગુમ થનારનું સરનામું</label>
                                <input type="text" class="form-control" id="missingPersonName" name="missingPersonName" placeholder="ગુમ થનારનું સરનામું" />
                            </div>
                            <div class="col-md-6">
                                <label for="missingReson" class="form-label">ગુમ થવાનું કારણ</label>
                                <input type="text" class="form-control" id="missingReson" name="missingReson" placeholder="ગુમ થવાનું કારણ" />
                            </div>
                            <div class="col-md-6">
                                <label for="genderId" class="form-label">જાતિ</label>
                                <select id="genderId" name="genderId" class="form-select">
                                    <option selected disabled>---Select Gender---</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="age" class="form-label">ઉંમર</label>
                                <input type="text" class="form-control" id="age" name="age" placeholder="ઉંમર" />
                            </div>
                            <div class="col-md-6">
                                <label for="missingDate" class="form-label">ગુમ થયાની તારીખ </label>
                                <input type="date" name="missingDate" id="missingDate" class="form-control date-today" aria-label="...">
                            </div>
                            <div class="col-md-6">
                                <label for="returnDate" class="form-label">પરત મળ્યાની તારીખ </label>
                                <input type="date" name="returnDate" id="returnDate" class="form-control max-date-today" aria-label="...">
                            </div>

                            <div class="col-md-6">
                                <label for="missingApplicationNoDate" class="form-label">પો.સ્ટે. ગુમ અરજી નં.તા. તથા સ્ટે.ડા. તારીખ</label>
                                <input type="text" class="form-control" id="missingApplicationNoDate" name="missingApplicationNoDate" placeholder="પો.સ્ટે. ગુમ અરજી નં.તા. તથા સ્ટે.ડા. તારીખ" />
                            </div>
                            <div class="col-md-6">
                                <label for="publisherNameAddress" class="form-label">જાહેર કરનારનું નામ સરનામું</label>
                                <input type="text" class="form-control" id="publisherNameAddress" name="publisherNameAddress" placeholder="જાહેર કરનારનું નામ સરનામું" />
                            </div>
                            <div class="col-md-6">
                                <label for="mobileNo" class="form-label">સંપર્ક મો.નં./ટે.નં.</label>
                                <input type="text" class="form-control" id="mobileNo" name="mobileNo" placeholder="સંપર્ક મો.નં./ટે.નં." />
                            </div>
                            <div class="col-md-6">
                                <label for="createdDate" class="form-label">તારીખ</label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" aria-label="...">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="submitbtn" class="btn btn-primary">+ ADD ગુમ થયેલ બાળકો</button>
                            </div>
                        </form>
                        <!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Basic Modal-->
@section Scripts {
    <script src="~/js/AhmedabadCityDR_JS/Missing_Chaild_Details.js" type="text/javascript"></script>
}