@{
    ViewData["Title"] = "Night_Round";
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>નાઇટ રાઉન્‍ડ હકીકત</h5>
            </div>
            <div class="col p-0">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + ADD નાઇટ રાઉન્‍ડ
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" disabled selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="submit" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> નાઇટ રાઉન્‍ડ </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2" style="margin:20px">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_NightRound">
                            <input type="hidden" id="nightRoundId" name="nightRoundId" value="0" />
                            <div class="col-md-6">
                                <label for="designationId" class="form-label">Designation</label>
                                <select id="designationId" name="designationId" class="form-select" asp-items="ViewBag.Designation" required>
                                    <option selected disabled value="">--Select Designation--</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="tempId" class="form-label">Sector/Zone/Division/PoliceStation:</label>
                                <select id="tempId" name="tempId" class="form-select" required>
                                    <option selected disabled value="">--Select Sector/Zone/Division/PoliceStation:--</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="nightRoundOfficerName" class="form-label"> ના.રા.માં નિકળનાર અધિકારીશ્રીઓના નામ</label>
                                <input type="text" class="form-control" id="nightRoundOfficerName" name="nightRoundOfficerName" placeholder="ના.રા.માં નિકળનાર અધિકારીશ્રીઓના નામ" />
                            </div>
                            <div class="col-md-4">
                                <label for="goingTime" class="form-label">રવાના સમય</label>
                                <input type="text" class="form-control" id="goingTime" name="goingTime" placeholder="રવાના સમય" />
                            </div>
                            <div class="col-md-4">
                                <label for="returnTime" class="form-label">પરત સમય</label>
                                <input type="text" class="form-control" id="returnTime" name="returnTime" placeholder="પરત સમય" />
                            </div>

                            <div class="col-md-4">
                                <label for="nightRoundPlace" class="form-label">ના.રા.વિસ્તાર</label>
                                <input type="text" class="form-control" id="nightRoundPlace" name="nightRoundPlace" placeholder="ના.રા.વિસ્તાર" />
                            </div>
                            <div class="col-md-4">
                                <label for="remarks" class="form-label">નોંધ</label>
                                <input type="text" class="form-control" id="remarks" name="remarks" placeholder="નોંધ" />
                            </div>
                            <div class="col-md-4">
                                <label for="createdDate" class="form-label">તારીખ </label>
                                <input type="date" id="createdDate" name="createdDate" class="form-control date-today" aria-label="..." required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">+ ADD અધિકારીઓ ની રજા</button>
                            </div>
                        </form>

                        <!-- End Multi Columns Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
@section Scripts{
    <script src="~/js/AhmedabadCityDR_JS/Night_Round.js" type="text/javascript"></script>
}
