@{
    ViewData["Title"] = "NightRound_HEKO_PO";
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col-md-8 p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>પો.સ્‍ટે. તરફ થી મો.સા. ઉ૫ર નીકળેલ હે.કો./પો.કો. ની હકીકત દર્શાવતુ ૫ત્રક</h5>
            </div>
            <div class="col-md-4 p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add હે.કો./પો.કો.
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" disabled selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="submit" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_Night_Round_HEKO_PO" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> હે.કો./પો.કો.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2" >
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_NightRound_HEKOPO">
                            <input type="text" id="nightRoundHekoPoid" name="nightRoundHekoPoid" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                        <select id="policeStationId" name="policeStationId" class="form-select" required>
                                            <option value="" selected disabled>--Select PoliceStation Name--</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-md-6">
                                <label for="createdDate" class="form-label">તારીખ </label>
                                <input type="date" id="createdDate" name="createdDate" class="form-control date-today" aria-label="..." required>
                            </div>
                            <div class="col-md-6">
                                <label for="totalOfMotarcycle" class="form-label">પો.સ્‍ટે.માં ફાળવેલ કુલ મોટર સાયકલની સંખ્‍યા</label>
                                <input type="text" class="form-control" id="totalOfMotarcycle" name="totalOfMotarcycle" placeholder="પો.સ્‍ટે.માં ફાળવેલ કુલ મોટર સાયકલની સંખ્‍યા" />
                            </div>
                            <div class="col-md-6">
                                <label for="maofNumber" class="form-label">ના.રા.માં નીકળેલ મો.સા. ની સંખ્‍યા.</label>
                                <input type="text" class="form-control" id="maofNumber" name="maofNumber" placeholder="ના.રા.માં નીકળેલ મો.સા. ની સંખ્‍યા." />
                            </div>
                            <div class="col-md-6">
                                <label for="nightRoundHekoPonumber" class="form-label">મો.સા.સાથે ના.રા.માં નીકળેલ હે.કો./પો.કો. ની સંખ્‍યા</label>
                                <input type="text" class="form-control" id="nightRoundHekoPonumber" name="nightRoundHekoPonumber" placeholder="મો.સા. સાથે ના.રા.માં નીકળેલ હે.કો./પો.કો. ની સંખ્‍યા" />
                            </div>

                            <div class="col-md-6">
                                <label for="defectNumber" class="form-label">એમ.ટી.માં જમા મો.સા. (ડીફેકટ) ની સંખ્યા</label>
                                <input type="text" class="form-control" id="defectNumber" name="defectNumber" placeholder="એમ.ટી.માં જમા મો.સા. (ડીફેકટ) ની સંખ્યા" />
                            </div>
                            <div class="col-md-6">
                                <label for="notavailabelNumber" class="form-label">એમ.ટી.માં જમા સિ’વાય મો.સા.નહી નીકળેલા સંખ્યા</label>
                                <input type="text" class="form-control" id="notavailabelNumber" name="notavailabelNumber" placeholder="એમ.ટી.માં જમા સિ’વાય મો.સા.નહી નીકળેલા સંખ્યા" />
                            </div>
                            <div class="col-md-6">
                                <label for="remark" class="form-label">રિમાર્કસ</label>
                                <input type="text" class="form-control" id="remark" name="remark" placeholder="રિમાર્કસ" />
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">+ ADD હે.કો./પો.કો.</button>
                            </div>

                        </form>

                        <!-- End Multi Columns Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
@section Scripts{
    <script src="~/js/AhmedabadCityDR_JS/NightRound_HEKO_PO.js" type="text/javascript"></script>
}