@{
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
    ViewData["Title"] = "Pending_Arji_Details";
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>પેન્ડિંગ અરજીઓની માહિતી દર્શાવતું પત્રક</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add અરજી
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" name="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_PendingArjiDetail" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">પેન્ડિંગ અરજી</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_PendingArjiDetail">
                            <input type="text" id="pendingArjiDetailId" name="pendingArjiDetailId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                        <select id="policeStationId" name="policeStationId" class="form-select" required>
                                            <option value="" selected disabled>--Select PoliceStation Name--</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-md-6">
                                <label for="pendingArjiCategoryId" class="form-label">અરજી રેફરન્સ</label>
                                <select id="pendingArjiCategoryId" name="pendingArjiCategoryId" class="form-select" asp-items="ViewBag.PendingArjiCategory">
                                    <option selected disabled>---Select Pending Arji Category---</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="under10days" class="form-label">10 દિવસ અંદર</label>
                                <input type="text" class="form-control" id="under10days" name="under10days" value="0" placeholder="10 દિવસ અંદર" />
                            </div>
                            <div class="col-md-6">
                                <label for="above10days" class="form-label">10 દિવસ ઉપર</label>
                                <input type="text" class="form-control" id="above10days" name="above10days" value="0" placeholder="10 દિવસ ઉપર" />
                            </div>
                            <div class="col-md-6">
                                <label for="aboveOneMonth" class="form-label">1 મહિના ઉપર</label>
                                <input type="text" class="form-control" id="aboveOneMonth" name="aboveOneMonth" value="0" placeholder="1 મહિના ઉપર" />
                            </div>
                            <div class="col-md-6">
                                <label for="aboveTwoMonth" class="form-label">2 મહિના ઉપર</label>
                                <input type="text" class="form-control" id="aboveTwoMonth" name="aboveTwoMonth" value="0" placeholder="2 મહિના ઉપર" />
                            </div>
                            <div class="col-md-6">
                                <label for="aboveThreeMonth" class="form-label">3 મહિના ઉપર</label>
                                <input type="text" class="form-control" id="aboveThreeMonth" name="aboveThreeMonth" value="0" placeholder="3 મહિના ઉપર" />
                            </div>
                            <div class="col-md-6">
                                <label for="aboveSixMonth" class="form-label">6 મહિના ઉપર</label>
                                <input type="text" class="form-control" id="aboveSixMonth" name="aboveSixMonth" value="0" placeholder="6 મહિના ઉપર" />
                            </div>
                            <div class="col-md-6">
                                <label for="aboveOneYear" class="form-label">1 વર્ષ ઉપર</label>
                                <input type="text" class="form-control" id="aboveOneYear" name="aboveOneYear" value="0" placeholder="1 વર્ષ ઉપર" />
                            </div>
                            <div class="col-md-6">
                                <label for="createdDate" class="form-label">તારીખ</label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" aria-label="...">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" id="submitbtn" class="btn btn-primary">+ ADD અરજી</button>
                            </div>
                        </form>

                        <!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Basic Modal-->
@section Scripts {
    <script src="~/js/AhmedabadCityDR_JS/Pending_Arji_Details.js" type="text/javascript"></script>
}