@{
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
    ViewData["Title"] = "PoliceStation_Wise_Vehical";
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>પો.સ્ટે.ખાતે ફાળવેલા વાહનોની હકિકત દર્શાવતુ પત્રક</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add વાહનોની હકિકત દર્શાવતુ પત્રક
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" name="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_PoliceStationWiseVehical" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">વાહનોની હકિકત દર્શાવતુ પત્રક </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_PoliceStationWiseVehical">
                            <input type="text" id="policeStationwiseVehicalId" name="policeStationwiseVehicalId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-12">
                                    <div class="dropdown">
                                        <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                        <select id="policeStationId" name="policeStationId" class="form-select" required>
                                            <option value="" selected disabled>--Select PoliceStation Name--</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-md-4">
                                <label for="jeepsTotal" class="form-label">કુલ જીપો</label>
                                <input type="text" class="form-control" id="jeepsTotal" name="jeepsTotal" placeholder="0" value="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="jeepsOffroad" class="form-label">કેટલી ઓફરોડ જીપો</label>
                                <input type="text" class="form-control" id="jeepsOffroad" name="jeepsOffroad" placeholder="0" value="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="jeepsDate" class="form-label">કઇ તારીખથી </label>
                                <input type="date" name="jeepsDate" id="jeepsDate" class="form-control max-date-today" aria-label="...">
                            </div>
                            <div class="col-md-4">
                                <label for="mobileTotal" class="form-label">કુલ મોબાઇલ</label>
                                <input type="text" class="form-control" id="mobileTotal" name="mobileTotal" placeholder="0" value="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="mobileOffroad" class="form-label">કેટલી ઓફરોડ મોબાઇલ</label>
                                <input type="text" class="form-control" id="mobileOffroad" name="mobileOffroad" placeholder="0" value="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="mobileDate" class="form-label">કઇ તારીખથી </label>
                                <input type="date" name="mobileDate" id="mobileDate" class="form-control max-date-today" aria-label="...">
                            </div>
                            <div class="col-md-4">
                                <label for="cyclingTotal" class="form-label">કુલ સાયકલો</label>
                                <input type="text" class="form-control" id="cyclingTotal" name="cyclingTotal" placeholder="0" value="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="cyclingOffroad" class="form-label">કેટલી ઓફરોડ સાયકલો</label>
                                <input type="text" class="form-control" id="cyclingOffroad" name="cyclingOffroad" placeholder="0" value="0" />
                            </div>
                            <div class="col-md-4">
                                <label for="cyclingDate" class="form-label">કઇ તારીખથી </label>
                                <input type="date" name="cyclingDate" id="cyclingDate" class="form-control max-date-today" aria-label="...">
                            </div>
                            <div class="col-md-12">
                                <label for="createdDate" class="form-label">તારીખ</label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" aria-label="...">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="submitbtn" class="btn btn-primary">+ ADD વાહનોની હકિકત દર્શાવતુ પત્રક</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                        <!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Basic Modal-->
@section Scripts {
    <script src="~/js/AhmedabadCityDR_JS/PoliceStation_Wise_Vehical.js" type="text/javascript"></script>
}