@{
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
    ViewData["Title"] = "Samans_Binjamin_Details";
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>બિન જામીન લાયક વોરન્ટ</h5>
            </div>
            <div class="col p-0">
                <button type="button" class="btn btn-primary float-end" id="addData" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + ADD બિન જામીન લાયક વોરન્ટ
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" asp-items="ViewBag.PoliceStation" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" name="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_BinJamin_Details" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-lg" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">બિન જામીન લાયક વોરન્ટ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_BinJamin_Details">
                            <input type="text" id="samansId" name="samansId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-6">
                                    <div class="dropdown">
                                        <label for="policeStationId" class="form-label">પોલીસ સ્ટેશન</label>
                                        <select id="policeStationId" name="policeStationId" class="form-select" required>
                                            <option value="" selected disabled>--Select PoliceStation Name--</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="col-md-6">
                                <label for="createdDate" class="form-label">તારીખ </label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" aria-label="...">
                            </div>
                            <div class="col-md-4">
                                <label for="todayOldPending" class="form-label">આજની તારીખે જુના પેન્‍ડીંગ</label>
                                <input type="text" class="form-control" id="todayOldPending" name="todayOldPending" placeholder="આજની તારીખે જુના પેન્‍ડીંગ" />
                            </div>
                            <div class="col-md-4">
                                <label for="todayNew" class="form-label">આજની તારીખે નવા આવેલ</label>
                                <input type="text" class="form-control" id="todayNew" name="todayNew" placeholder="આજની તારીખે નવા આવેલ" />
                            </div>
                            <div class="col-md-4">
                                <label for="todayComplete" class="form-label">આજની તારીખે બજેલ</label>
                                <input type="text" class="form-control" id="todayComplete" name="todayComplete" placeholder="આજની તારીખે બજેલ" />
                            </div>
                            <div class="col-md-6">
                                <label for="todayNonComplete" class="form-label">આજની તારીખે વગર બજવેલ</label>
                                <input type="text" class="form-control" id="todayNonComplete" name="todayNonComplete" placeholder="આજની તારીખે વગર બજવેલ" />
                            </div>
                            <div class="col-md-6">
                                <label for="todayTransfer" class="form-label">આજની તારીખે ટ્રાન્‍સફર</label>
                                <input type="text" class="form-control" id="todayTransfer" name="todayTransfer" placeholder="આજની તારીખે ટ્રાન્‍સફર" />
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">+ ADD  બિન જામીન લાયક વોરન્ટ</button>
                            </div>
                        </form>
                        <!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Basic Modal-->
@section Scripts {
    <script src="~/js/AhmedabadCityDR_JS/Samans_Binjamin_Details.js" type="text/javascript"></script>
}
