@{
    ViewData["Title"] = "Stationary_Details";
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>સ્ટેશનરી અંગેની હકીક્ત દર્શાવતુ પત્રક</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + Add સ્ટેશનરી અંગેની હકીક્ત દર્શાવતુ પત્રક
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="data_Stationary_Details" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>
<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">સ્ટેશનરી અંગેની હકીક્ત દર્શાવતુ પત્રક </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 " id="form_Stationary_Details">
                            <input type="text" id="stationaryId" name="stationaryId" value="0" style="display:none" class="d-none" placeholder="" />
                            @if (policeStationId == 0)
                            {
                                <div class="col-md-6">
                                    <label for="inputState" class="form-label">પોલીસ સ્ટેશન</label>
                                    <select id="policeStationId" name="policeStationId" class="form-select" required>
                                        <option value="" selected disabled>--Select PoliceStation Name--</option>
                                    </select>
                                </div>
                            }
                            <div class="col-md-6">
                                <label for="telephone" class="form-label">લેન્ડ લાઇન ટેલીફોન ચાલુ છે કે કેમ?ટેલીફોન નંબર સાથે</label>
                                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="લેન્ડ લાઇન ટેલીફોન ચાલુ છે કે કેમ?ટેલીફોન નંબર સાથે" />
                            </div>
                            <div class="col-md-6">
                                <label for="computer" class="form-label">કોમ્પ્યુટર તથા જી-સ્વાન કનેક્ટીવીટી ચાલુ છે કે કેમ? તેની વિગત</label>
                                <input type="text" class="form-control" id="computer" name="computer" placeholder="કોમ્પ્યુટર તથા જી-સ્વાન કનેક્ટીવીટી ચાલુ છે કે કેમ? તેની વિગત" />
                            </div>
                            <div class="col-md-6">
                                <label for="giswanConnectivity" class="form-label">જીસ્વાન કનેકટીવીટી બંદ હોય તો કમ્પલેન નંબર</label>
                                <input type="text" class="form-control" id="giswanConnectivity" name="giswanConnectivity" placeholder="જીસ્વાન કનેકટીવીટી બંદ હોય તો કમ્પલેન નંબર" />
                            </div>

                            <div class="col-md-6">
                                <label for="faxMachine" class="form-label">ફેક્સ મશીન ચાલુ છે કે કેમ? તેની વિગત ફેક્સ નંબર સાથે</label>
                                <input type="text" class="form-control" id="faxMachine" name="faxMachine" placeholder="ફેક્સ મશીન ચાલુ છે કે કેમ? તેની વિગત ફેક્સ નંબર સાથે" />
                            </div>
                            <div class="col-md-6">
                                <label for="xeroxMachine" class="form-label">ઝેરોક્ષ મશીનચાલુ છે કે કેમ? તેની વિગત ફેક્સ નંબર સાથે</label>
                                <input type="text" class="form-control" id="xeroxMachine" name="xeroxMachine" placeholder="ઝેરોક્ષ મશીનચાલુ છે કે કેમ? તેની વિગત ફેક્સ નંબર સાથે" />
                            </div>
                            <div class="col-md-6">
                                <label for="otherStationaryStocks" class="form-label">અન્ય સ્ટેશનરી વિગેરે સ્ટોક</label>
                                <input type="text" class="form-control" id="otherStationaryStocks" name="otherStationaryStocks" placeholder="અન્ય સ્ટેશનરી વિગેરે સ્ટોક" />
                            </div>
                            <div class="col-md-6">
                                <label for="createdDate" class="form-label">તારીખ </label>
                                <input type="date" name="createdDate" id="createdDate" class="form-control date-today" required>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="submitbtn">+ ADD સ્ટેશનરી અંગેની હકીક્ત દર્શાવતુ પત્રક</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                        <!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Basic Modal-->
@section Scripts{
    <script src="~/js/AhmedabadCityDR_JS/Stationary_Details.js" type="text/javascript"></script>
}