

@{
    ViewData["Title"] = "E_Challan_Collection";
}

<div class="card-body">
    <div class="card-title">
        <h5>+ ADD પત્રક-૮ ઇ-ચલાણ ની કામગીરી</h5>
    </div>
</div>


<section class="section" style="font-weight:900">
    <div class="row">
        <div class="col-lg-6">
            <!-- Basic Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="margin-left:20px">
                + ADD ઇ-ચલાણ ની કામગીરી
            </button>
            <div class="modal modal-lg" id="basicModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">ટ્રાફિક ક્રેઈનની કામગીરી</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body" >
                                    <!-- Multi Columns Form -->
                                    <form class="row g-4 center">
                                       
                                        <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">આજે બનાવેલા ઇ-ચલાણ</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="આજે બનાવેલા ઇ-ચલાણ" >
                                        </div>
                                       <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">આજના ઇશ્યૂ ઇ-ચલાણ</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="આજના ઇશ્યૂ ઇ-ચલાણ" >
                                        </div>
                                       <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">આજના બાકી રહેલા ઇ-ચલાણ</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="આજના બાકી રહેલા ઇ-ચલાણ" >
                                        </div>
                                       <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">આજે જનરેટ કરેલ ઇ-ચલાણ રકમ</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="આજે જનરેટ કરેલ ઇ-ચલાણ રકમ" >
                                        </div>
                                       <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">આજની તારીખે રિકવર ઇ-ચલાણ રકમ</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="આજની તારીખે રિકવર ઇ-ચલાણ રકમ" >
                                        </div>
                                       <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">બાકી રહેલી ઇ-ચલાણની રકમ</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="બાકી રહેલી ઇ-ચલાણની રકમ" >
                                        </div>
                                       <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">આજનુ કલેકશન</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="આજનુ કલેકશન" >
                                        </div>
                                         <div class="col-md-6">
                                            <label for="inputCity" class="form-label">તારીખ </label>
                                            <input type="date" name="arrival_date" id="arrival_date" class="form-control" aria-label="..." >
                                        </div>
                                    </form><!-- End Multi Columns Form -->

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">ADD ઇ-ચલાણ ની કામગીરી</button>
                        </div>
                    </div>
                </div>
            </div><!-- End Basic Modal-->

        </div>
    </div>

</section>

