@{
    ViewData["Title"] = "E_Challan_Collection";
}


<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col-md-8 p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>પત્રક-૮ ઇ-ચલાણ ની કામગીરી</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + ADD પત્રક-૮ ઇ-ચલાણ ની કામગીરી
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content pb-0">
            <div class="modal-header">
                <h5 class="modal-title">પત્રક-૮ ઇ-ચલાણ ની કામગીરી</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-4" style="font-weight:10px">

                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજે બનાવેલા ઇ-ચલાણ</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજે બનાવેલા ઇ-ચલાણ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજના ઇશ્યૂ ઇ-ચલાણ</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજના ઇશ્યૂ ઇ-ચલાણ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજના બાકી રહેલા ઇ-ચલાણ</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજના બાકી રહેલા ઇ-ચલાણ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજે જનરેટ કરેલ ઇ-ચલાણ રકમ</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજે જનરેટ કરેલ ઇ-ચલાણ રકમ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજની તારીખે રિકવર ઇ-ચલાણ રકમ</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજની તારીખે રિકવર ઇ-ચલાણ રકમ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">બાકી રહેલી ઇ-ચલાણની રકમ</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="બાકી રહેલી ઇ-ચલાણની રકમ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">આજનુ કલેકશન</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજનુ કલેકશન">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">તારીખ </label>
                                <input type="date" name="arrival_date" id="arrival_date" class="form-control" aria-label="...">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">ADD ઇ-ચલાણ ની કામગીરી</button>
                            </div>
                        </form><!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><!-- End Basic Modal-->
