@{
    ViewData["Title"] = "Intercept_Work_Details";
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>ટ્રાફિક ઇન્‍ટરસેપ્‍ટર ની કામગીરી</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + ADD ટ્રાફિક ઇન્‍ટરસેપ્‍ટર ની કામગીરીની માહિતી
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>

<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content pb-0">
            <div class="modal-header">
                <h5 class="modal-title">ટ્રાફિક ઇન્‍ટરસેપ્‍ટર ની કામગીરીની માહિતી</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-3 center">
                            <div class="col-md-6">
                                <label for="inputState" class="form-label">ટ્રાફિક ઇન્‍ટરસેપ્‍ટર સબ કેટેગરી નામ</label>
                                <select id="inputState" class="form-select">
                                    <option selected>---Select Intercepter Sub-Category---</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">ટ્રાફિક ઇન્‍ટરસેપ્‍ટર ઑફિસર નામ</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="ટ્રાફિક ઇન્‍ટરસેપ્‍ટર ઑફિસર નામ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress2" class="form-label">ટોટલ પ્લેસ કેસ</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="ટોટલ પ્લેસ કેસ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress5" class="form-label">ટોટલ પ્લેસ દંડની રકમ</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="ટોટલ પ્લેસ દંડની રકમ">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress2" class="form-label">ઇ.પી.સી.ઓ 188 જી.પી 131</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="ઇ.પી.સી.ઓ 188 જી.પી 131">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress2" class="form-label">ઇ.પી.સી.ઓ ૨૭૯</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="ઇ.પી.સી.ઓ ૨૭૯">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress2" class="form-label">એમ.વી.એ.સી.ટી ૨૦૭</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="એમ.વી.એ.સી.ટી ૨૦૭">
                            </div>
                            <div class="col-md-6">
                                <label for="inputAddress2" class="form-label">અન્યવર્કની માહિતી</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="અન્યવર્કની માહિતી">
                            </div>
                           <div class="col-md-12">
                                <label for="createdDate" class="form-label">તારીખ </label>
                                <input type="date" id="createdDate" name="createdDate" class="form-control date-today" aria-label="..." required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">ADD ટ્રાફિક ઇન્‍ટરસેપ્‍ટર ની કામગીરી </button>
                            </div>
                        </form><!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
