@{
    ViewData["Title"] = "Tobaco_Details";
    var policeStationId = Convert.ToInt32(httpContextAccessor.HttpContext.GetClaimsPrincipal().PoliceStationId);
}

<div class="card">
    <div class="card-body">
        <div class="row card-title">
            <div class="col p-0 align-items-center" style="display: flex;align-items: center;">
                <h5>પત્રક-૫ તમાકુ અધિનિયમ હેઠળના કેસોનું પત્રક</h5>
            </div>
            <div class="col p-0">
                <button type="button" id="addData" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#basicModal">
                    + ADD તમાકુ અધિનિયમ
                </button>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-md-2 mb-1">
                <input type="date" name="searchFromDate" id="searchFromDate" class="form-control date-today">
            </div>
            <div class="col-md-2 mb-1">
                <input type="date" name="searchToDate" id="searchToDate" class="form-control date-today">
            </div>
            <div class="col-md-4 mb-1">
                @if (policeStationId == 0)
                {
                    <select id="searchPoliceStationId" name="searchPoliceStationId" class="form-select" required>
                        <option value="" selected>--Select PoliceStation Name--</option>
                    </select>
                }
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-secondary" id="searchButton" value="Search" />
            </div>
            <div class="col-md-2 mb-1">
                <input type="button" class="form-control btn btn-outline-success" value="Report View" />
            </div>
        </div>
        <table id="" class="display cell-border compact order-column stripe" style="width:100%; overflow-x: scroll; table-layout: fixed">
        </table>
    </div>
</div>



<div class="modal modal-xl" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content pb-0">
            <div class="modal-header">
                <h5 class="modal-title">તમાકુ અધિનિયમની માહિતી</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body p-1 m-2">
                        <!-- Multi Columns Form -->
                        <form class="row g-4 center">
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">પોલીસ સ્ટેશન</label>
                                <select id="inputState" class="form-select">
                                    <option selected>---Select PoliceStation---</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="inputAddress5" class="form-label">આજના કેસની સંખ્યા</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="આજના કેસની સંખ્યા">
                            </div>
                            <div class="col-md-4">
                                <label for="inputAddress2" class="form-label">આજની વસુલ કરેલ દંડની રકમ</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="આજની વસુલ કરેલ દંડની રકમ">
                            </div>
                            <div class="col-md-4">
                                <label for="inputAddress5" class="form-label">ચાલુ માસના આજદીન સુધીના</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="ચાલુ માસના આજદીન સુધીના">
                            </div>
                            <div class="col-md-4">
                                <label for="inputAddress2" class="form-label">ગયા માસના આજદીન સુધીના</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="ગયા માસના આજદીન સુધીના">
                            </div>
                            <div class="col-md-4">
                                <label for="inputAddress5" class="form-label">ચાલુ સાલના આજદીન સુધીના</label>
                                <input type="text" class="form-control" id="inputAddres5s" placeholder="ચાલુ માસના આજદીન સુધીના">
                            </div>
                            <div class="col-md-4">
                                <label for="inputAddress2" class="form-label">ગઇ સાલના આજદીન સુધીના</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="ગયા માસના આજદીન સુધીના">
                            </div>
                            <div class="col-md-4">
                                <label for="inputCity" class="form-label">તારીખ </label>
                                <input type="date" name="arrival_date" id="arrival_date" class="form-control" aria-label="...">
                            </div>
                            <div class="col-md-4">
                                <label for="inputAddress2" class="form-label">રિમાર્કસ</label>
                                <input type="text" class="form-control" cols="40" rows="5" placeholder="રિમાર્કસ">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="submitbtn">ADD તમાકુ અધિનિયમ</button>
                            </div>
                        </form><!-- End Multi Columns Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
