

@{
    ViewData["Title"] = "Traffic_Drive";
}

<div class="card-body">
    <div class="card-title">
        <h5>ટ્રાફિક ડ્રાઇવ</h5>
    </div>
</div>


<section class="section" style="font-weight:900">
    <div class="row">
        <div class="col-lg-6">
            <!-- Basic Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="margin-left:20px">
                + ADD Traffic Drive
            </button>
            <div class="modal modal-lg" id="basicModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">ટ્રાફિક ડ્રાઇવ  </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body" style="margin:20px">
                                    <!-- Multi Columns Form -->
                                    <form class="row g-4 center">
                                        <div class="col-md-6">
                                            <label for="inputState" class="form-label">પોલીસ સ્ટેશન</label>
                                            <select id="inputState" class="form-select" >
                                                <option selected>---Select PoliceStation---</option>
                                            </select>
                                        </div>
                                       <div class="col-md-6">
                                            <label for="inputState" class="form-label">ડ્રાઇવ નામ</label>
                                            <select id="inputState" class="form-select" >
                                                <option selected>---Select Drive Name---</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">ડિટેઇન</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="ડિટેઇન" >
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputAddress2" class="form-label">કેસની સંખ્યા</label>
                                            <input type="text" class="form-control" id="inputAddress2" placeholder="કેસની સંખ્યા">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">રકમ</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="રકમ">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputAddress2" class="form-label">રિમાર્કસ</label>
                                            <input type="text" class="form-control" id="inputAddress2" placeholder="રિમાર્કસ">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="inputCity" class="form-label">તારીખ </label>
                                            <input type="date" name="arrival_date" id="arrival_date" class="form-control" aria-label="..." >
                                        </div>
                                       
                                    </form><!-- End Multi Columns Form -->

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">ADD ટ્રાફિક ડ્રાઇવ </button>
                        </div>
                    </div>
                </div>
            </div><!-- End Basic Modal-->

        </div>
    </div>

</section>

