

@{
    ViewData["Title"] = "Traffic_Jam";
}

<div class="card-body">
    <div class="card-title">
        <h5>ટ્રાફીકજામ / નિકાલ નું પત્રક</h5>
    </div>
</div>


<section class="section" style="font-weight:900">
    <div class="row">
        <div class="col-lg-6">
            <!-- Basic Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="margin-left:20px">
                + ADD ટ્રાફીકજામ / નિકાલ
            </button>
            <div class="modal modal-xl" id="basicModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">ટ્રાફીકજામ / નિકાલ </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body" style="margin:20px">
                                    <!-- Multi Columns Form -->
                                    <form class="row g-4 center">
                                        <div class="col-md-4">
                                            <label for="inputState" class="form-label">પોલીસ સ્ટેશન</label>
                                            <select id="inputState" class="form-select" >
                                                <option selected>---Select PoliceStation---</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputAddress5" class="form-label">Caller ૧૦૦ ૧૦૯૫</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="પો.સ્‍ટે વિસ્‍તારમાં કુલ કેટલા સિગ્‍નલ આવેલ છે?" >
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputAddress2" class="form-label">નામ</label>
                                            <input type="text" class="form-control" id="inputAddress2" placeholder="નામ">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputAddress5" class="form-label">મો.નંબર</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="મો.નંબર">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputAddress2" class="form-label">ટ્રાફીક જામનું સ્થળ</label>
                                            <input type="text" class="form-control" id="inputAddress2" placeholder="ટ્રાફીક જામનું સ્થળ">
                                        </div>
                                         <div class="col-md-4">
                                            <label for="inputAddress5" class="form-label">મેસેજ મળ્યા સમય</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="મેસેજ મળ્યા સમય">
                                        </div>
                                         <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">બીટ ઈન્ચાર્જ/આસી બીટ ઈન્ચારર્જ જાણ કર્યા સમય</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="બીટ ઈન્ચાર્જ/આસી બીટ ઈન્ચારર્જ જાણ કર્યા સમય">
                                        </div>
                                         <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">બીટ ઈન્ચાર્જ/આસી બીટ ઈન્ચારર્જ ક્યાંથી રવાના અને સમય</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="બીટ ઈન્ચાર્જ/આસી બીટ ઈન્ચારર્જ ક્યાંથી રવાના અને સમય">
                                        </div>
                                         <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">સ્થળ પર પહોંચ્યા નો સમય</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="સ્થળ પર પહોંચ્યા નો સમય">
                                        </div>
                                         <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">કેટલો સમય ટ્રાફીક જામ રહેલ તે સમય મીનીટ(6-10)</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="કેટલો સમય ટ્રાફીક જામ રહેલ તે સમય મીનીટ(6-10)">
                                        </div>
                                         <div class="col-md-4">
                                            <label for="inputAddress5" class="form-label">પો.સબ.ઈન્સ.શ્રી પહોંચ્યા નામ અને સમય</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="પો.સબ.ઈન્સ.શ્રી પહોંચ્યા નામ અને સમય">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputAddress5" class="form-label">પો.ઈન્સ.શ્રી પહોંચ્યા નામ અને સમય</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="પો.ઈન્સ.શ્રી પહોંચ્યા નામ અને સમય ">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputAddress5" class="form-label">એસીપી/ડીસીપી પહોંચ્યાનો સમય</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="એસીપી/ડીસીપી પહોંચ્યાનો સમય">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputAddress5" class="form-label">રીમાર્ક્સ</label>
                                            <input type="text" class="form-control" id="inputAddres5s" placeholder="રીમાર્ક્સ">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputCity" class="form-label">તારીખ </label>
                                            <input type="date" name="arrival_date" id="arrival_date" class="form-control" aria-label="..." >
                                        </div>
                                       
                                    </form><!-- End Multi Columns Form -->

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">ADD ટ્રાફીકજામ / નિકાલ </button>
                        </div>
                    </div>
                </div>
            </div><!-- End Basic Modal-->

        </div>
    </div>

</section>

